*{
    margin: 0%;
    padding: 0%;
}
:root{
    --cor-principal: #4F143B;
    --cor-secundária: #0F000A;
    --cor-destaque: #144F44;
    --FontParágrafos: 'League Spartan', sans-serif;
    --FontTitles: 'Marck Script', cursive;
}
body{
    background-color: white;
}
header{
    background-color: var(--cor-principal);
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 80px;
}
header picture{
    background-color: transparent;
    display: block;
    align-items: center;
    height: 30px;
    width: 140px;
    margin-left: 6%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 15pt;
}
#imglogo{
    height: 60px;
    width: 140px
}
#abaPesquisa{
    width: 45px;
    height: 45px;
    border-radius: 50px;
    border: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.192);
    display: flex;
    flex-direction: row;
    align-items: center;
}
#abaPesquisa input{
    background: none;
    display: none;
    width: 80%;
    padding: 20px;
    border: none;
    outline: none;
    color: gray;
}
#okpesquisa{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--cor-destaque);
    width: 47px;
    height: 47px;
    border-radius: 100%;
}
#abaPesquisa img{
    width: 25px;
    height: 25px;
    cursor: pointer;
    z-index: 6;
}
header nav{
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    width: 400px;
    height: 80px;
    top: 0;
    right: 0;
}
.CreateAccount{
    text-decoration: none;
    color: white;
    font-family: var(--FontParágrafos);
}
.CreateAccount:hover{
    transition: 0.2s;
    color: rgb(203, 203, 203);
}
#generos{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 100%;
}
#generos nav{
    background-color: transparent;
    width: 40%;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
#generos button{
    background-color: rgb(255, 255, 255);
    width: 80px;
    padding: 10px;
    border: 2.5px solid gray;
    border-radius: 10px;
    color: rgb(39, 39, 39);
    cursor: pointer;
    transition: transform 0.3s ease;
}
#generos button:hover{
    transform: scale(1.2);
}
#local{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: max-content;
    height: 20px;
    margin-left: 52%;
    border-bottom: 2.5px solid rgba(128, 128, 128, 0.432);
    padding: 10px;
    cursor: pointer;
}
#generos div img{
    filter: brightness(0.5);
    height: 20px;
}
#generos input{
    width: 180px;
    padding: 5px;
    padding-left: 10px;
    font-family: monospace;
    font-size: 14pt;
    color: gray;
    border: none;
    outline: none;
    background: none;
}
#localização{
    border: none;
    width: 0px;
}
#Sugestions{
    display: flex;
    flex-direction: column;
    background-color: var(--cor-secundária);
    height: 500px;
    width: 100%;
    margin-top: 200px;
}
#Sugestions h1{
    height: max-content;
    margin-top: 30px;
    text-align: center;
    color: gray;
}
#div-sugestions{
    display: flex;
    flex-direction: row;
    margin-top: 60px;
    height: 70%;
    justify-content: space-evenly;
}
#div-sugestions article{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 30%;
    height: 300px;
}
.Perfis{
    display: flex;
    flex-direction: row;
    height: 20%;
    width: 80%;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.048) ;
    padding: 10px;
}
.perfil{
    width: 25%;
    height: 60px;
}
.perfil img{
    height: 60px;
    display: block;
    margin: auto;
}
.cidadeBanda{
    display: flex;
    flex-direction: column;
    height: 40px;
    width: 73%;
    color: gray;
    font-size: 8pt;
    justify-content:center;
    margin-left: 3%;
    margin-top: 15px;
}
#Line{
    background-color: gray;
    height: 300px;
    width: 1px;
}
footer{
    height: 300px;
    background-color: var(--cor-destaque);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
footer a{
    text-decoration: none;
    color: gray;
}
a:hover{
    color: rgb(236, 236, 236);
    transition: 0.5s;
}
.conteudo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100px;
}
.FooterTitulo{
    color: white;
}
.FooterLink{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: gray;
}