<header class="header_main">
    <div class="nav_header_main">
        <a href="https://albertlima.com.br" class="a_main">log in</a>
    </div>
    <button id="bttMenu" class="bttMenu1"><!--botão para abrir o menu depois vai ser transformado em partial-->
        <span class="barra11" id="barra1"></span>
        <span class="barra21" id="barra2"></span>
        <span class="barra31" id="barra3"></span>
    </button>
</header>
<section class="menu_main">
    <nav>
        <ul>
            <li><a href="/cadastro" class="link_nav_main">cadastre-se</a></li>
        </ul>
    </nav>
</section>