<form action="/cadastro" method="post" class="form_cadastro">
    <input type="text" name="name" placeholder="name" class="input_cad">
    <input type="email" name="email" placeholder="email" class="input_cad">
    <input type="password" name="password" placeholder="senha" class="input_cad">
    <input type="password" name="passwordConfirm" placeholder="confirme a senha" class="input_cad">
    <button type="submit">cadastre-se</button>
</form>